extends layout

block content
    .main.container
        != messages()
        .row
            .col-md-6.col-md-offset-3
                h1.display-4.m-b-2 Members Area
                p Welcome to members area