extends layout

block content
    .main.container
        .row
            .col-md-6.col-md-offset-3
                if errors
                    each key, value in errors
                        div.alert.alert-danger #{key.msg}
                h1.display-4.m-b-2 Register

                // register form
                form(method='POST' action='/users/register' enctype='multipart/form-data')
                    div.form-group
                        label(for='name') Name:
                        input#name.form-control(type='text', placeholder='Name' name='name' value= user.name)
                    div.form-group
                        label(for='email') Email:
                        input#email.form-control(type='email', placeholder='Email' name='email' value= user.email)
                    div.form-group
                        label(for='pw') Password:
                        input#pw.form-control(type='password' name='password' value= user.password)
                    div.form-group
                        label(for='pw2') Confirm Password:
                        input#pw2.form-control(type='password' name='confirmPassword' value= user.confirmPassword)
                    div.form-group
                        label(for file) Profile Image:
                        input#file.form-control(type='file' name='profileImage')
                    button.btn.btn-primary(type='submit') Sign up